#buttons {
  background-color: black;
  opacity = 25%;
  text-decoration: underline;
  text-decoration-color: grey;
  color: white;
  width: 15%;
  height: 5%;
  font-family: 'Roboto Mono', monospace;
}
body
{
  background-color: light-grey;
}
#startval
{
  width: 20%;
  height: 6%;
  font-family: 'Roboto Mono', monospace;
}
#endval
{
  width: 20%;
  height: 6%;
  font-family: 'Roboto Mono', monospace;
}
h1
{
  font-family: 'Roboto Mono', monospace;
}
#result
{
  font-family: 'Roboto Mono', monospace;
}
